#action-btn {
    background-color: #DB2827;
}

#content-1 {
    background-color: #f1f1f1;
}

#content-3 {
    background-color: #f1f1f1;
}

#img-3 {
    border: none;
    border-radius: 50px;
}

#about-txt {
    color: #DB2827;
}

#contact-txt {
    color: #DB2827;
}

#contact-btn {
    background-color: #DB2827;
}

#other-txt {
    color: #DB2827;
}

#footerzz {
    background-color: black;
}



@media screen and (max-width:1025px) {
    #img-3-size {
        margin-top: -9vh;
    }
}

@media screen and (max-width:395px) {
    #img-3-size {
        margin-top: -10vh;
    }
}